@import './base/normalize';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import './utils/vars';
@import './base/reset';
@import './components/body';
@import './components/header';
@import './components/logo';
@import './components/navigation';
@import './components/contacts';
@import './components/hero';
@import './components/features';
@import './components/activity';
@import './components/team';
@import './components/socials';
@import './components/clients';
@import './components/footer';
@import './components/address';
@import './components/footer-socials';
@import './components/subscribe-form';
@import './components/modal';
@import './components/modal-form';
@import './utils/animation';
@import './components/control';
