/* Global variables */

:root {
  --main-color: #212121;
  --logo-color: #000000;
  --phone-color: #757575;
  --primary-color: #ffffff;
  --accent-color: #2196f3;
  --hero-color: #2f303a;
  --layout-color: rgba(47, 48, 58, 0.4);
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --adress-color: rgba(255, 255, 255, 0.6);
  --footer-socials-bg-color: rgba(255, 255, 255, 0.1);
  --border-bottom-color: #ececec;
  --examples-border-color: #eeeeee;
  --team-section-bg-color: #f5f4fa;
  --clients-logo-color: #afb1b8;
  --activity-meta-color: rgba(47, 48, 58, 0.8);
  --close-border-color: rgba(0, 0, 0, 0.1);
  --data-modal-color: rgba(0, 0, 0, 0.2);
  --product-overlay-color: rgba(33, 150, 243, 0.9);
  --subscribe-form-color: rgba(255, 255, 255, 0.6);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --button-submit-color: #188ce8;
  --indent: 30px;
  --items: 3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Selectors */
body {
  font-family: 'Roboto', 'Times New Roman', 'Verdana', 'Tahoma', sans-serif;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--main-color);
}
/* resets */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  display: inline-block;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  border-color: transparent;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}

/* Header */

.header {
  border-bottom: 1px solid var(--border-bottom-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo > .primary {
  color: var(--accent-color);
}
.logo__secondary {
  color: var(--logo-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  margin-left: 93px;
}
.menu-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}
.menu-nav .link.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  animation: show 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

.menu-nav .list-item + .list-item {
  margin-left: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .list-item + .list-item {
  margin-left: 50px;
}
.contact-nav .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--phone-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon {
  margin-right: 10px;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}
.header-icon {
  fill: currentColor;
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-color);
  background-image: linear-gradient(to right, var(--layout-color), var(--layout-color)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-title {
  /* margin-top: 0; */
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.hero .button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
/* Features */
.without-padding {
  padding-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .list-item {
  --items: 4;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--team-section-bg-color);
  width: 100%;
  height: 120px;
}

.feature-list > .list-item + .list-item {
  margin-left: 30px;
}

.features h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--phone-color);
}
/* Activity images */
.activity .title,
.team .title,
.clients .title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.activity-list {
  display: flex;
  flex-wrap: wrap;
}

.activity-list > .list-item + .list-item,
.team-list > .list-item + .list-item {
  margin-left: 30px;
}
.activity-thumb {
  position: relative;
}
.activity-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--activity-meta-color);
  width: 100%;
  height: 70px;
}
.activity-name {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Team */
.team.section {
  background-color: var(--team-section-bg-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list > .list-item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* .teammate img {
  margin-bottom: 30px;
} */
.teammate-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.teammate .name {
  /* margin-top: 0; */
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.teammate .post {
  /* margin-top: 0; */
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--phone-color);
}
.socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.socials-list > .list-item {
  flex-basis: 44px;
}
.teammate-info .link {
  width: 44px;
  height: 44px;
  padding: 12px;

  border-radius: 50%;
  display: block;
  background-color: transparent;
  color: var(--clients-logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teammate-info .link:hover,
.teammate-info .link:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
.teammate-info .social-icon {
  fill: currentColor;
}

/* Clients */
.clients-list {
  display: flex;
  justify-content: center;
  gap: var(--indent);
  cursor: pointer;
}

.clients-list .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-logo-color);
  border-radius: 4px;
  color: var(--clients-logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list .link:hover,
.clients-list .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-logo {
  display: block;
  fill: currentColor;
}
/* Footer */
.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Footer contacts */
.footer .logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}
.contact.list .list-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}
.link.address {
  color: var(--primary-color);
}
.secondary.second {
  color: var(--primary-color);
}
/* Socials in footer */
.footer-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.socials-footer .link {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  display: block;
  background-color: var(--footer-socials-bg-color);
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer .link:hover,
.socials-footer .link:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
.socials-footer .social-icon {
  fill: currentColor;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.address {
  width: 231px;
}
.socials-footer {
  margin-left: 70px;
}

/* Subcribe */

.newsletter {
  margin-left: auto;
}

.newsletter .subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.newsletter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer-email-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  line-height: 1.25;
  letter-spacing: 0.03em;
  pointer-events: none;
  color: var(--subscribe-form-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter .form-input:focus + .footer-email-label,
.newsletter .form-input:not(:placeholder-shown) + .footer-email-label {
  pointer-events: none;
  opacity: 0;
}
.subscribe-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.newsletter .form-input {
  display: block;
  /* box-sizing: border-box; */
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: var(--subscribe-form-color);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-icon {
  margin-left: 10px;
}

/* Portfolio */

/* Portfolio buttons */
.button-list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.examples .button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list .list-item:not(:first-child) {
  margin-left: 8px;
}
/* Portfolio examples */
.examples .button:hover,
.examples .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples .name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples .category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--phone-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-list .list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list .list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list img {
  margin-right: 0px;
  /* margin-bottom: 20px; */
}
.info {
  padding: 20px 24px;
  border: 1px solid var(--examples-border-color);
  border-top: none;
}
.portfolio-list .list-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Portfolio examples overlay */
.product-thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  background-color: var(--product-overlay-color);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .list-item:hover .product-overlay {
  transform: translateY(0);
  opacity: 1;
}
.product-meta {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translate(-50%, -50%);
}

/* Modal window */

.data-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--data-modal-color);
  /* visibility: visible; */
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.data-modal.is-hidden .modal {
  /* visibility: hidden; */
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  /* visibility: visible; */
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal close button */

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 50%;
  color: var(--logo-color);
  background-color: var(--primary-color);
  border: 1px solid var(--close-border-color);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.modal-close:hover .close-icon {
  fill: var(--accent-color);
}

/* Modal form */

.modal-form {
  width: 100%;
  padding: 40px 39px 40px 41px;
}
.contact-details-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}
/* Name, phone, email */
.form-field {
  width: 100%;
  height: 58px;
  position: relative;
  margin-bottom: 10px;
}
.input-wrapper > .form-input {
  display: block;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--phone-color);
  background-color: var(--primary-color);
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
}
.form-field .form-label {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--phone-color);
}
.icons-of-modal {
  pointer-events: none;
  /* z-index: 999; */
  display: inline-block;
  position: absolute;
  top: calc(50%);
  left: 12px;
  transform: translate(0, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .icons-of-modal,
.form-input:not(:placeholder-shown) ~ .icons-of-modal {
  fill: var(--accent-color);
  transform: translate(40px, -41px);
}
.form-field:focus-within .form-input,
.form-field:focus-within .comment {
  border-color: var(--accent-color);
  outline: none;
}

/* Textarea(Comment) */

.form-field .comment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--phone-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field.for-comment .input-wrapper {
  bottom: 0;
  left: 0;
  height: 120px;
}
.form-field.for-comment {
  margin-bottom: 20px;
  height: 138px;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

/* Contract(checkbox) */

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreement {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.contract-agreement {
  /* position: absolute; */
  text-align: center;
  /* display: block; */
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--phone-color);
  margin-left: 8px;
}
.contract {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.icon-check {
  display: block;
  fill: var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 2px;
  border: 2px solid var(--main-color);

  transition: border-color var(--timing-function), fill var(--timing-function),
    background-color var(--timing-function), border var(--timing-function),
    box-shadow var(--timing-function);
}

.checkbox:checked + .icon-check {
  border: none;
  fill: var(--primary-color);
  background-color: var(--accent-color);
}

.checkbox:focus + .icon-check {
  box-shadow: 0 0 0 0.1em var(--accent-color);
}
.checkbox:checked:focus + .icon-check {
  box-shadow: 0 0 0 0.1em #7ed321;
}

/* Modal submit button */

.modal-submit {
  /* position: absolute; */
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background: var(--button-submit-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--box-shadow-color);
}

/* Animations */

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
