.clients__title {
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: $indent;
  cursor: pointer;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid $clients-logo-color;
  border-radius: 4px;
  color: $clients-logo-color;
  transition: color $timing-function, border-color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients__logo {
  display: block;
  fill: currentColor;
}
