.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $phone-color;
  transition: color $timing-function;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link:hover,
.contacts__link:focus {
  color: $accent-color;
}
