.features__list {
  display: flex;
  flex-wrap: wrap;
}
.features__item {
  $items: 4;
  flex-basis: calc((100% - $indent * ($items - 1)) / ($items));
  //   flex-basis: 270px;
}
.features__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: $team-section-bg-color;
  width: 100%;
  height: 120px;
}

.features__item:not(:first-child) {
  margin-left: 30px;
}

.features__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $phone-color;
}
