.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $hero-color;
  background-image: linear-gradient(to right, $layout-color, $layout-color),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-color;
}
.hero__button {
  background: $accent-color;
  box-shadow: 0px 4px 4px $box-shadow-color;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: $primary-color;
}
