.subscribe-form {
  margin-left: auto;
}

.subscribe-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 20px;
}
.subscribe-form__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.subscribe-form__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  line-height: 1.25;
  letter-spacing: 0.03em;
  pointer-events: none;
  color: $subscribe-form-color;
  opacity: 1;
  // transition: opacity $timing-function;
  transition: transform $timing-function, color $timing-function;
}

.subscribe-form__input {
  display: block;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: $subscribe-form-color;
  width: 358px;
  height: 50px;
  @include border-generator(rgba(255, 255, 255, 0.3));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-form__input:focus + .subscribe-form__label,
.subscribe-form__input:not(:placeholder-shown) + .subscribe-form__label {
  pointer-events: none;
  color: $primary-color;
  transform: translate(calc(-1 * (100%+32px)), -50%);
}
.subscribe-form__button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  color: $primary-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-form__icon {
  margin-left: 10px;
}
